*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

/* home section */

.home{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.2)), url(./image/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.home .content{
    text-align: center;
    padding-top: 250px;
}

.home .content h4{
    color:azure;
    font-size: 38px;
    font-weight: 550;
    text-shadow: 0px 1px 1px black;
}

.home .content h1{
    color: white;
    font-size: 70px;
    font-weight: 600;
    text-shadow: 0px 1px 1px black;
    margin-top: 5px;
    margin-bottom: 30px;

}

.home .content a{
    padding: 10px;
    background: azure;
    margin-right: 25px;
    color: black;
    /* letter-spacing: 1px; */
    font-weight: 550;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.5s;
}

.home .content a:hover{
    background: #484545;
    color: white;
}

@media (max-width:850px){
    .home{
        background-position: 50%;
    }
}

@media (max-width:450px){
    .home .content h4{
        font-size: 25px;
    }

    .home .content h1{
        font-size: 25px;
    }


}

/* home section */


/* entry section  */

.entry{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.2)), url(./image/bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.entry .container{
    width: 50%;
    /* text-align: center; */
    background-color: rgba(255,255,255,.2);
    padding: 20px;
    border-radius: 5px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    color: azure;
}

label{
    width: 140px;
    display: inline-block;
    margin: 0.2cm;
    font-size: 16px;
    /* font-weight:; */
}

.entry .container .form-control{
    border-radius: 5px;
    border: none;
    border-bottom: 1px solid grey;
}

.entry a{
    width: 50%;
    /* text-align: center; */
    background-color: rgba(255,255,255,0);
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    left: 5%;
    top: 5%;
    transform: translate(-50%,-50%);
    color: azure;
}

.entry .btn{
    padding: 10px;
    background: #000000;
    margin-right: 25px;
    color: white;
    /* letter-spacing: 1px; */
    font-weight: 550;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.5s;
}

.entry .btn:hover{
    background: #837d7d;
    color: white;
}

/* entry section  */


/* search section  */

.search{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.2)), url(./image/bg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* position: relative; */
    display: flex;
    flex-direction: column;
    
}

.search .d-flex{
    width: 50%;
    /* text-align: center; */
    background-color: rgba(255,255,255,0);
    padding: 10px;
    border-radius: 5px;
    position: relative;
    left: 50%;
    top: 5%;
    transform: translate(-50%,-50%);
    color: azure;
}

.search .table{
    width: 50%;
    /* text-align: center; */
    background-color: rgba(255,255,255,.4);
    padding: 20px;
    border-radius: 5px;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    color: black;
}

.search a{
    width: 50%;
    /* text-align: center; */
    background-color: rgba(255,255,255,0);
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    left: 5%;
    top: 5%;
    transform: translate(-50%,-50%);
    color: azure;
}

.search .btn{
    padding: 10px;
    background: #000000;
    margin-right: 25px;
    color: white;
    /* letter-spacing: 1px; */
    font-weight: 550;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.5s;
}

.search .btn:hover{
    background: #837d7d;
    color: white;
}

  
/* #searchtable {
    width: 100px;
    height: 200px; 
    background-color: red;
  }
  
#searchbar{
    width: 100px;
    height: 300px;
    background-color: blue;
  }

#home{
    width: 100px;
    height: 300px;
    background-color: blue;
  } */



/* search section  */